@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    /* bg-gray-100 */
    border-radius: 9999px;
    /* rounded-full */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    /* bg-gray-300 */
    border-radius: 9999px;
    /* rounded-full */
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    &::-webkit-scrollbar-track {
      background-color: #3f3f3f;
      /* bg-neutral-700 */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6b7280;
      /* bg-neutral-500 */
    }
  }
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
  z-index: 0 !important;
}

.rdrMonth{
  width: 100% !important;
}

.rdrCalendarWrapper{
  font-size: 16px I !important;
  width: 100% !important;
}